{% extends 'base.html' %}

{% block content %}
<form method="post">
  {% csrf_token %}

  <label>Vehicle</label>
  <select name="vehicle_id" class="form-select" required>
    <option value="">Select vehicle</option>
    {% for v in vehicles %}
      <option value="{{ v.id }}">
        {{ v.vehicle_type }} | {{ v.capacity }}kg | {{ v.plate_number }}
      </option>
    {% endfor %}
  </select>

  <label class="mt-2">Pickup Location</label>
  <input type="text" name="pickup_location" class="form-control" required>

  <label class="mt-2">Delivery Location</label>
  <input type="text" name="delivery_location" class="form-control" required>

  <label class="mt-2">Urgency</label>
  <select name="urgency" class="form-select">
    <option value="low">Low</option>
    <option value="medium">Medium</option>
    <option value="high">High</option>
  </select>

  <button class="btn btn-primary mt-3">Confirm Booking</button>
</form>

{% endblock %}
